<div class="row">
  <div class="col-md-2">
    <img src="https://firebasestorage.googleapis.com/v0/b/cv-project-6fa7f.appspot.com/o/photo.jpeg?alt=media&token=ca83337b-7a53-4ee2-8315-f174f248030a" alt="" class="img-thumbnail">
  </div>
  <div class="col-md-10">
    <h2>Догадин Илья Андреевич</h2>
    <p>Мужчина, 33 года, родился 23 мая 1984</p>
    <p><span>Контакты:</span></p>
    <p>Телефон: +380 (95) 4352509 </p>
    <p>email: ilya.dog84@gmail.com</p>
    <p>Sqype: Ginungagap100500</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4><span>Желаемая должность и зарплата:</span></h4>
  </div>
  <div class="col-md-10">
    <h3>Frontend-разработчик</h3>
  </div>
  <div class="col-md-2">
    <h3>500 USD</h3></div>
</div>
<div class="row">
  <div class="col-md-12">
    <p><Span>Профессиональная область:</Span></p>
    <p>Программирование, Разработка</p>
    <p><span>Занятость:</span> полная занятость</p>
    <p><span>График работы:</span> полный день, удаленная работа</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4><span>Опыт работы:</span></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p>Ноябрь 2016 — настоящее время</p>
  </div>
  <div class="col-md-10">
    <h3>Фриланс</h3>
    <h4>Frontend-разработчик</h4>
    <p><span>Обязанности:</span></p>
    <ul>
      <li>Верстка и Frontend-разработка</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p>Июнь 2011 — Декабрь 2014</p>
  </div>
  <div class="col-md-10">
    <h3>Регал Петролеум Корпорейшн Лимитед</h3>
    <h4>Координатор отдела ИТ</h4>
    <p><span>Обязанности:</span></p>
    <ul>
      <li>настройка и администрирование серверов предприятия</li>
      <li>установка и поддержка ОС и различного офисного ПО</li>
      <li>обслуживание офисной техники</li>
      <li>поддержка работы локальной сети, подключение новых пользователей</li>
      <li>настройка АТС</li>
      <li>сборка, установка, обслуживание, модернизация ПК</li>
      <li>консультирование сотрудников</li>
      <li>закупка необходимого оборудования</li>
      <li>ведение учета техники в 1С</li>
      <li>управление корпоративной группой мобильной связи</li>
      <li>управление системой контроля доступа</li>
      <li>разработка и составление регламентов и инструкций</li>
      <li>координация и контроль работы отделов ИТ в региональных отделениях</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p>Июнь 2008 — Март 2011</p>
  </div>
  <div class="col-md-10">
    <h3>ООО ПКФ “Ларанд ЛТД”</h3>
    <h4>Системный администратор</h4>
    <p><span>Обязанности:</span></p>
    <ul>
      <li>настройка и администрирование сервера предприятия</li>
      <li>установка и поддержка ОС и различного офисного ПО</li>
      <li>обслуживание офисной техники</li>
      <li>поддержка работы локальной сети, подключение новых пользователей</li>
      <li>настройка АТС</li>
      <li>сборка, установка, обслуживание, модернизация ПК</li>
      <li>консультирование сотрудников</li>
      <li>закупка необходимого оборудования</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p>Июнь 2006 — Май 2008</p>
  </div>
  <div class="col-md-10">
    <h3>Компьютерная сеть «SevStar»</h3>
    <h4>Сотрудник техподдержки сети</h4>
    <p><span>Обязанности:</span></p>
    <ul>
      <li>проектирование, прокладка и поддержка физической работоспособности сети</li>
      <li>работа с клиентскими ПК</li>
      <li>установка и настройка ПО</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4><span>Образование:</span></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p>Высшее <br>
      2006</p>
  </div>
  <div class="col-md-10">
    <h3>СевНТУ</h3>
    <h4>Электроника, магистр</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4><span>Ключевые навыки:</span></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p><span>Знание языков</span></p>
  </div>
  <div class="col-md-10">
    <p>Русский — родной</p>
    <p>Английский — могу проходить интервью</p>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p><span>Навыки</span></p>
  </div>
  <div class="col-md-10">
    <p>HTML5,  CSS3,  JavaScript,  jQuery,  Bootstrap</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4><span>Дополнительная информация:</span></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p><span>Обо мне</span></p>
  </div>
  <div class="col-md-10">
    <p>Я ответственный, уравновешенный человек с опытом работы в коллективе</p>
  </div>
</div>
